<h3>New Purchase</h3>
<p style="color: gray">Enter the details of a receipt. You can use the 'Tab' key to move around a bit
  faster than using your trackpad or mouse. Pressing 'Enter' or 'Return' while the focus
is on a button will result in either another row added or saving the purchase receipt details.</p>
<%= render "form" %>